*{
    box-sizing: border-box;

}
html{
    height: 100%;
    scroll-behavior: smooth;
}


body{

    font-family: 'Rubik', sans-serif;
    display: flex; 
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;


}
*:focus{
    outline: 2px dashed #7296ec;
    outline-offset: 3px;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
/* SITE-HEADER-TOP */
.site-header-top {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#F6F6F6;
   
}
.site-header-top-container {
    display: flex;
    text-align: center;
}
.namanganlik-img {
    display: flex; 
    padding: 8px 6px;
    margin-right: 35px;
    border-radius: 7px;
    background-color: #fff;
}
.namanganlik-img:hover{
    opacity: 0.8;

}
.namanganlik-img:active{
    opacity: 0.6    ;
}
/* CURRENCY_RATES */
.currency-rates {
    display: flex;
    align-items:center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: auto;
}
.currency-rates-item:not(:last-child){
    margin-right: 25px;
}
.currency-rates-mark{
    color:#2959CE;
}

.img-poisk {
    margin-right: 25px;
}
/* LAng button */
.lang-toggle{
    display: flex;
    padding:7px;
    margin-right: 25px;
    border-radius:39px;
    background-color: #dce6ff;
    
}
.lang-toggle-link{
    width: 30px;
    height: 30px;
    border-radius:50%;
    font-size: 13px;
    line-height: 30px;
    color: #a6a6a6;
    text-align: center;
    text-decoration: none;

}
.lang-toggle-link-active{
    background-color: #fff;
    color:#000;
}
/* Global-Search-Form */
.global-search-from{
    margin-right: 25px;
}
.global-search-form-input{
    padding-top: 15px;
    padding-bottom: 13px;
    padding-right: 20px;
    padding-left: 40px;
    border:0;
    border-radius:60px;
    font-size: 14px;
    line-height: normal;
    background-image: url("../img/list/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
}

/* <!-- AUTH FORM --> */
.button {   
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 13px 20px;
    border:0;
    border-radius:10px;
    line-height: normal;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.6;
}
.button-primary{
    background-color:#7296EC;
    color:#fff;
}

.button-orange {
    background-color: #F78B3B;
    color:#fff;

}
.button-block{
    width: 100%;
}
/* SITENAV */
.sitenav{
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-header-bottom{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding:0;
    margin: 0;
    align-items:center;
    line-height: normal;
}
.site-navbar-item:not(:last-child){
    margin-right: 44px;
}
.site-navbar-item a{
    text-decoration: none;
    color:#7F7F7F;
}
.site-navbar-item a:hover{
    color:#7296EC;
}
.article-card-link:active {
    opacity: 0.6;
}
.site-navbar-item a:active{
    opacity: 0.6;
}
/* HR LINE */

.header-hr:not(:last-child){
    margin-bottom: 40px;
}
/* SITE-HEADER-BANNER */
.site-header-banner-link{
    display: flex;
}
/* MAIN_CONTENT */
.main-content{
    flex-grow: 1;
    padding-top:50px;
    padding-bottom: 100px;
}

/* NEWS-GRID */
.news-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-bottom: -10px;
}
.news-grid-item {
    width: 393px;
    margin-left: 10px;
    margin-bottom:10px;
}
.article-card {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    padding: 20px 17px 15px;
    border-radius:15px;
}
.article-card-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.article-card-link {
    text-decoration: none;
    color: #000;
    display: inline-block;
}
.article-card-link:hover{
    color:#7296EC
}
.article-card-text{
    margin-top:0;
    margin-bottom:10px;
    color: #4A4B4C;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}
.gallery-img {
    width: 359px;
    height: 165px;
    margin-top: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;

}
.article-card-footer {
    display: flex;
    text-align: center;


}
.article-card-source-icon {
    width: 20px;
    height: 20px;
    border-radius:5px;
    margin-right: 10px;
}
.article-card-source-time {
    font-size: 12px;
    color:#5E5F61;
    line-height: normal;
    padding-top:3px;
}
.article-card-source {
}
.main-notifactions{
    padding-top:60px;
    padding-left:90px;
    padding-bottom:60px;
}
/* NOTIFATIONS CTA */
.notificatsion-cta {
    padding: 25px 70px 25px 70px;
    margin: 60px 75px;
    background-color:  #ffd7ba;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    background-image:url("../img/list/global-notificatsion-bg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}
.notificatsion-cta-text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color:#000
}


/* Global NEWS */
.global-news-heading {
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    color:#000;  
    margin-top:0;   
}
.new-list {
    display: flex;
    flex-direction: column  ;
    margin-bottom: 15px;
}
.news-list-item:not(:last-child) {
    margin-bottom: 10px;
}
/* ARTILE_CARD-Horizontal */
.article-card-horizontal {
    background-color:#F6F6F6;
    border-radius:15px;
    display: flex;
    align-items:flex-start;
    padding:20px;
}
.article-card-horizontal-img {
    width: 210px;
    height: 165px;
    object-fit: cover;
    margin-right: 15px;
    border-radius:10px;
}
.article-card-horizontal-content {
    flex-grow: 1;
}
.article-card-horizontal-title {
    margin-top:0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
.article-card-horizontal-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 19px;
    
}
.article-card-horizontal-link:hover{
    color:#7296EC
}
.article-card-horizontal-link:active{
    opacity: 0.6;
}
.article-card-horizontal-text {
    line-height: 22px;
    font-size: 16px;
    color: #4A4B4C;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top:0;
}
.article-card-horizontal-footer {
    display: flex;
    object-fit: cover;
    align-items: center;
}
.article-card-horizontal-source-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius:5px;
}
.article-card-horizontal-source-time {
    color:#5E5F61;
    font-size: 12px;
    line-height: 14px;

}
.news-list-more-button{
    padding:17px;
}

/* LAYOUT */
.layout-2-1{
    display: flex;
    align-items:flex-start;
}
.layout-2-1-main{
    width: 797px;

}
.layout-2-1-sidebar{
    width: 393px;
    margin-top:48px;
    margin-left: 10px;
}
.layout-2-1-sidebar-item:not(:last-child){
    margin-bottom:10px;
}
/* GLOBAL-NEWS-RIGHT */
.sidebar-news-card {
    background-color:#f6f6f6;
    border-radius:15px;
    padding:20px 20px 25px 17px;
    height: 502px;
    
}
.sidebar-news-card-heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-top:0;
}
.sidebar-news-card-list {
    padding:0;
    margin: 0;
    list-style: none;
    
} 
.sidebar-news-card-item {

    padding-bottom: 20px;
    padding-top:20px
}
.sidebar-news-card-item:first-child{
    padding-top:0;
}
.sidebar-news-card-item:last-child{
    padding-bottom:0;
}
.sidebar-news-card-item:not(:last-child){
    border-bottom: 1px solid #d2d2d2;
}
.sidebar-news-card-title{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.sidebar-news-card-link {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-family: Rubik;
    }
.sidebar-news-card-link:hover{
    color:#7296EC
}
.sidebar-news-card-link:active{
    opacity: 0.6;
}

.sidebar-news-card-source-time {
    font-size: 13px;
    line-height: normal;
    color:#5E5F61;
}
/* SIDEBAR_AD */
.sidebar-ad-link{
    display: flex;
}

.sidebar-ad-img{
    width: 393px;
    height: 338px;
    border-radius:15px;
}
.sidebar-ad-img-list{
    height: 553px;
}
/* Footer */
.site-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:#7297EF;
    color:#fff;
}
.site-footer *:focus{
    outline: 2px dashed #7296EC;
}
.site-footer-logo-wrapper {
    display: flex;
    margin-bottom: 15px;
}
.site-footer-logo {
    display: flex;
}
.site-footer-logo:hover{
    opacity: 0.8;
}
.site-footer-logo:active{
    opacity:0.6;
}
.site-footer-logo-img{
    width: 264px;
    height: 28px;
    object-fit: contain;
}
.site-footer-about-links {
    display: flex;
}
.site-footer-about {
    width: 230px;
    margin-right: 200px;
    font-size: 12px;
    line-height: 19px;
}
.site-footer-links-wrapper {
    display: flex;
    flex-grow: 1;
}

.site-footer-links {
    width: 50%;
    margin: 0;
}
.site-footer-links-item {
    padding-left: 0;
    padding-right: 24px;
    margin: 0;
    list-style: none;
    font-weight: 500;

}
.site-footer-links-item:not(:last-child){
    margin-bottom: 20px;
}
.site-footer-link {
    display: inline-block;
    color:#fff;
    text-decoration: none;
}
.site-footer-link:hover{
    text-decoration: underline;
}
.site-footer-divider {
    height: 1px;
    border:0;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color:#cecece;
}
.site-footer-socials {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.site-footer-socials-heading {
    width: 160px;
    margin:0;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}
.site-footer-socials-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.site-footer-socials-item:not(:last-child) {
    margin-right: 25px;
}
.site-footer-socials-link {
    display: flex;
}
.site-footer-socials-icon{
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    object-fit: contain;
}

/* CONTACT PAGE */
.contact-page-heading{
    margin-top: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
    color:#000;
}

.contact-page-form{
    width: 696px;
    display: flex;
    flex-direction:column;
}
/* Button */
.contact-page-form-submit{
    margin-top: 20px;
    align-self: flex-end;
}
/* FORM */
.form-group:not(:last-child){
    margin-bottom: 10px;
}
.form-field{
    display: block;
    width: 100%;
    padding: 18px 20px;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:10px;
}
.form-field-textarea{
    min-height: 180px;
    resize: vertical;
}
.form-groups-wrapper{
    display: flex;
    justify-content: space-between;
}
.form-groups-wrapper:not(:last-child){
    margin-bottom: 10px;
}
.form-groups-wrapper .form-group{
    width:343px;
    margin-bottom: 0;
}
.form-groups-wrapper .form-group:not(:last-child){
    margin-right: 10px;
}
/* CONTACT-PAGE-INFO */
.contact-page-content{
    display: flex;
}
.contact-page-info {
    width: 494px;
    padding-left: 10px;
    margin:0;

}
.definition-card {
    padding: 20px 25px;
    background-color:#f6f6f6;
    color:#000;
    margin:0;
    border-radius:10px;
}
.definition-card-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.definition-card-item:not(:last-child){
    border-bottom:1px solid #d2d2d2;
}
.definition-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
}
.definition-card-value {
    margin: 0;
    line-height: 19px;
}



/* BG -RETINA */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .notificatsion-cta{
        background-image:url("../img/list/global-notificatsion-bg@2x.jpg")
    }
}